npm-debug.log*
ionic.project
.io-config.json

.tmp/
dist/
node_modules/
tmp/
temp/
hooks/
platforms/
plugins/
www/

resources/android/icon
resources/android/splash
resources/ios/icon
resources/ios/splash
