<ion-header>
	<ion-navbar>
		<ion-title>Pushboard</ion-title>
		<ion-buttons end>
			<button ion-button icon-only (click)="openSettings()">
				<ion-icon name="settings"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
	<ion-toolbar class="switch-toolbar" no-border-top>
		<ion-segment [(ngModel)]="date">
			<ion-segment-button value="today">
				Heute {{ todayDate | date: 'dd.MM.yyyy' }}
			</ion-segment-button>
			<ion-segment-button value="nextDay">
				Morgen {{ tomorrowDate | date: 'dd.MM.yyyy' }}
			</ion-segment-button>
		</ion-segment>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div [ngSwitch]="date">
		<ion-list *ngSwitchCase="'today'">
			<ion-item no-padding *ngFor="let item of messagesToday">
				<ng-container *ngIf="subscriptions[item.course] === true">
					<div padding-horizontal>
						<h2>
							{{ item.course }}
							<ion-badge item-right>{{ item.teacher }}</ion-badge>
						</h2>
						<h3 *ngIf="item.type == 'canceled'">
							{{ item.lesson }}. Stunde fällt aus
						</h3>
					</div>
				</ng-container>
			</ion-item>
		</ion-list>

		<ion-list *ngSwitchCase="'nextDay'">
			<ion-item no-padding *ngFor="let item of messagesTomorrow">
				<ng-container *ngIf="subscriptions[item.course] === true">
					<div padding-horizontal>
						<h2>
							{{ item.course }}
							<ion-badge item-right>{{ item.teacher }}</ion-badge>
						</h2>
						<h3 *ngIf="item.type == 'canceled'">
							{{ item.lesson }}. Stunde fällt aus
						</h3>
					</div>
				</ng-container>
			</ion-item>
		</ion-list>
	</div>
</ion-content>
